@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  padding: 0px;
}

a.active hr {
  display: block;
}

* {
  font-family: "Cinzel";
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

@font-face {
  font-family: "Cinzel";
  src: local("Cinzel"), url("/fonts/Cinzel-Main.ttf");
}
p[data-f-id="pbf"] {
  display: none;
}
